.form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  height: 100%;
}

.formSection {
  background-color: var(--color-bg-light);
  border-radius: var(--radius-sm);
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1.5rem 1rem;
}

.formFooter {
  align-items: stretch;
  border-top: 1px solid var(--color-border);
  display: flex;
  flex-direction: column;
  padding: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem)
    clamp(1rem, 0.4718rem + 2.2535vw, 2.5rem);
}

@media (min-width: 48rem) {
  .formInputGroup {
    align-items: center;
    display: flex;
    justify-content: space-between;
    position: relative;
    input,
    select {
      max-width: 60%;
    }
  }

  .formInputGroupColumn {
    align-items: flex-start;
    flex-direction: column;

    input,
    select {
      max-width: 100%;
    }
  }

  .formErrorMessage {
    position: absolute;
    right: 1rem;
  }

  .formFooter {
    align-items: flex-end;
    display: flex;
    justify-content: flex-end;
  }
}

@media (min-width: 64rem) {
  .formContainer {
    flex: 1;
    overflow-x: hidden;
    overflow-y: scroll;
  }

  .form {
    height: 100%;
    max-height: 54rem;
  }
}
