/* instrument-sans-regular - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Instrument Sans";
  font-style: normal;
  font-weight: 400;
  src: url("./assets/fonts/instrument-sans-v4-latin-regular.woff2")
    format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* instrument-sans-600 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Instrument Sans";
  font-style: normal;
  font-weight: 600;
  src: url("./assets/fonts/instrument-sans-v4-latin-600.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* instrument-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Instrument Sans";
  font-style: normal;
  font-weight: 700;
  src: url("./assets/fonts/instrument-sans-v4-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}

:root {
  /* COLOR */
  --colors-white: #ffffff;
  --colors-black: #000000;
  --colors-grey-50: #fafafa;
  --colors-grey-100: #eeeeee;
  --colors-grey-200: #d9d9d9;
  --colors-grey-500: #737373;
  --colors-grey-900: #333333;
  --colors-grey-925: #1e1f26;
  --colors-grey-950: #1a1a1a;
  --colors-blue-200: #43b7e9;
  --colors-blue-500: #2d68ff;
  --colors-blue-600: #2442ac;
  --colors-blue-800: #0330d1;
  --colors-purple-200: #efebff;
  --colors-purple-300: #beadff;
  --colors-purple-600: #633cff;
  --colors-purple-950: #302267;
  --colors-red-500: #ff3939;
  --colors-red-550: #ee3939;
  --colors-pink-400: #f4a28c;
  --colors-pink-900: #8a1a50;
  --colors-orange-500: #eb4925;
  --colors-orange-600: #ec7100;

  /* SPACING */
  --spacing-0: 0rem;
  --spacing-400: 2rem;
  --spacing-500: 2.5rem;
  --spacing-600: 3rem;
  --spacing-700: 3.5rem;
  --spacing-800: 4rem;
  --spacing-900: 4.5rem;
  --spacing-1000: 5rem;

  /* RADIUS */
  --corner-radius-0: 0;
  --corner-radius-4: 4;
  --corner-radius-6: 6;
  --corner-radius-8: 8;
  --corner-radius-10: 10;
  --corner-radius-12: 12;
  --corner-radius-16: 16;
  --corner-radius-20: 20;
  --corner-radius-24: 24;
  --corner-radius-full: 999;

  /* COLORS */
  --color-primary: var(--colors-purple-600);
  --color-primary-hover: var(--colors-purple-300);

  --color-accent: var(--colors-purple-600);
  --color-bg: var(--colors-grey-50);
  --color-bg-light: var(--colors-grey-50);

  --color-text-header: var(--colors-grey-900);
  --color-text-body: var(--colors-grey-500);
  --color-text-on-primary: var(--colors-white);

  --color-border: var(--colors-grey-200);
  --color-bg-surface: var(--colors-white);

  /* TYPOGRAPHY */
  --font-header: "Instrument Sans", Arial, Helvetica, sans-serif;
  --font-body: "Instrument Sans", Arial, Helvetica, sans-serif;

  /* LAYOUT */
  --container-max-width: 70rem;
  --container-width: 92%;
  --section-spacing: clamp(0.75rem, 0.662rem + 0.3756vw, 1rem);

  /* Radius */
  --radius-xs: calc(var(--corner-radius-4) / 16 * 1rem);
  --radius-sm: calc(var(--corner-radius-8) / 16 * 1rem);
  --radius-full: calc(var(--corner-radius-full)/16 * 1rem);
}
/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~           Reset            ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* 2. Remove default margin */
*:not(dialog) {
  margin: 0;
}

/* 3. Enable keyword animations */
@media (prefers-reduced-motion: no-preference) {
  html {
    interpolate-size: allow-keywords;
    overflow-x: hidden;
  }
}

body {
  background-color: var(--color-bg);
  color: var(--color-text-body);
  display: flex;
  flex-direction: column;
  font-family: var(--font-body);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  min-height: 100svh;
  /* 5. Improve text rendering */
  -webkit-font-smoothing: antialiased;
}

/* 6. Improve media defaults */
img,
picture,
video,
canvas,
svg {
  display: block;
  height: auto;
  max-width: 100%;
}

/* 7. Inherit fonts for form controls */
input,
button,
select,
textarea {
  font: inherit;
}

/* 8. Avoid text overflows */
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 9. Improve line wrapping */
h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--color-text-header);
  font-family: var(--font-header);
  font-weight: 700;
  line-height: 1.33;
  text-wrap: balance;
}

p {
  max-width: 65ch;
  text-wrap: pretty;
}

/*
  10. Create a root stacking context
*/
[id="root"],
[id="__next"] {
  isolation: isolate;
}

[id="root"] {
  margin-inline: auto;
  max-width: 90rem;
  min-height: 100svh;
  padding-inline: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
  width: 100%;
}

a {
  color: currentColor;
  text-decoration: none;
}

a.active {
  background-color: var(--colors-purple-200);
  border-radius: var(--radius-sm);
  color: var(--color-primary);
}

label {
  display: block;
  margin-block-end: 0.5rem;
}

input {
  border: 1px solid var(--color-border);
  border-radius: var(--radius-sm);
  padding: 1rem;
  width: 100%;

  &[aria-invalid="true"] {
    border-color: var(--colors-red-500);
  }
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

/*~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~~>
<~~         Utilities          ~~>
<~~ ~~~~~~~~~~~~~~~~~~~~~~~~~~ ~*/

.row {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.btn {
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--radius-sm);
  color: inherit;
  cursor: pointer;
  display: inline-flex;
  font-size: 1rem;
  font-weight: 600;
  justify-content: center;
  padding: 1rem 1.5rem;
  text-wrap: nowrap;

  &:disabled {
    opacity: 0.25;
  }
}

.btn--primary {
  background-color: var(--color-primary);
  color: var(--color-text-on-primary);

  &:hover,
  &:active,
  &:focus-visible {
    background-color: var(--color-primary-hover);
  }
}

.btn--secondary {
  background-color: transparent;
  border-color: var(--color-primary);
  color: var(--color-primary);
  &:hover,
  &:active,
  &:focus-visible {
    background-color: var(--colors-purple-200);
  }
}

.btn--text {
  background: none;
  font-weight: 400;
  padding: 0;

  &:hover {
    font-weight: 600;
  }
}

.card {
  background-color: var(--color-bg-surface);
  border-radius: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 2.5rem;
  padding: 1.5rem;

  & > header {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
  }

  & > section {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
}

.avatar {
  border: 4px solid var(--color-primary);
  border-radius: var(--radius-full);
  height: 5rem;
  margin-inline: auto;
  width: 5rem;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip-path: inset(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.hide-on-mobile {
  display: none;
}

.accent-text {
  color: var(--color-accent);
}

@media (min-width: 64rem) {
  [id="root"] {
    align-items: stretch;
    display: flex;
    padding: 1.5rem;
  }

  .hide-on-mobile {
    display: block;
  }

  .preview-card {
    display: grid;
    place-content: center;
  }
}
