.previewCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-inline: auto;
  width: 350px;
  text-align: center;
}

.linkList {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}
