body:has(.previewContainer) {
  background-color: var(--color-bg-surface);
}

.previewContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: clamp(3.125rem, 0.8588rem + 9.6692vw, 5.5rem);
}

.backgroundShape {
  border-radius: 0 0 2rem 2rem;
  height: 357px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.previewCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-inline: auto;
  width: 350px;
  text-align: center;
}

.linkList {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

@media (min-width: 48rem) {
  .backgroundShape {
    background-color: var(--color-primary);
  }
}
