.previewLink {
  align-items: center;
  border: 1px solid transparent;
  border-radius: var(--radius-xs);
  color: var(--color-text-on-primary);
  display: flex;
  justify-content: space-between;
  padding: 1rem;
}

.previewPlatform {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
