body:has(.previewContainer) {
  background-color: var(--color-bg-surface);
}

.previewMain {
  display: flex;
  margin-inline: auto;
}

.previewContainer {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: clamp(3.125rem, 0.8588rem + 9.6692vw, 5.5rem);
}

.backgroundShape {
  border-radius: 0 0 2rem 2rem;
  height: 357px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: -1;
}

.previewCard {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 3.5rem;
  margin-inline: auto;
  width: 350px;
  text-align: center;
}

.linkList {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}

.profileInfo {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.profileWrapper {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: center;
}

.previewHeader {
  flex-direction: row;
  gap: 1rem;
  justify-content: space-between;
  position: sticky;
  top: 0;
  width: 100%;
}

.profileName {
  color: var(--color-text-header);
  font-size: 2rem;
  font-weight: 600;
}

@media (min-width: 48rem) {
  body:has(.previewContainer) {
    background-color: var(--color-bg);
  }

  .backgroundShape {
    background-color: var(--color-primary);
  }

  .previewCard {
    box-shadow: 0 0 32px 0 rgba(0, 0, 0, 0.1);
  }
}

@media (min-width: 64rem) {
  .previewHeader {
    top: 1.5rem;
  }
}
