.avatarLabel {
  align-items: center;
  background-color: var(--colors-grey-100);
  background-position: center center;
  background-repeat: no-repeat;
  border: none;
  border-radius: 0.75rem;
  color: var(--color-primary);
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  height: clamp(9rem, 7.9437rem + 4.507vw, 12rem);
  padding: 2.5rem 1rem;
  position: relative;
  text-align: center;
  width: clamp(9rem, 7.9437rem + 4.507vw, 12rem);
  z-index: 1;

  span {
    text-wrap: nowrap;
  }
}

@media (min-width: 48rem) {
  .avatarInput {
    align-items: center;
    display: flex;
    gap: 1.5rem;
    max-width: 60%;
  }
}
