.customSelect {
  /* Enable custom select styling - this is the magic property */
  /* Picker also needs base-select appearance */
  @media (hover) and (pointer: fine) {
    &,
    &::picker(select) {
      appearance: base-select;
    }
  }

  background-color: var(--color-bg-surface);
  border: 1px solid var(--color-border);
  font: inherit;
  outline: none;
  padding-block: 1rem;
  padding-inline: 1rem;
  place-items: center;
  width: 100%;

  &:hover {
    border-color: var(--color-primary);
    cursor: pointer;
  }

  &:focus-visible {
    border-color: var(--color-primary);
    box-shadow: var(--box-shadow-focus);
  }

  button {
    align-items: center;
    background: transparent;
    border: none;
    display: flex;
  }

  option,
  selectedcontent {
    align-items: center;
    color: var(--color-text-header);
    display: flex;
    gap: 1rem;
  }

  option {
    padding-block: 0.5rem;
  }

  option:hover {
    cursor: pointer;
  }

  option:checked {
    color: var(--color-primary);
  }

  option::checkmark {
    display: none;
  }

  option:not(:last-of-type) {
    border-bottom: 1px solid var(--color-border);
  }

  &::picker-icon {
    content: url("../assets/icons/icon-chevron-down.svg");
    opacity: 0.75;
    transition:
      transform 0.3s,
      opacity 0.15s;
  }

  &:hover::picker-icon {
    opacity: 0.8;
  }

  &:open::picker-icon {
    transform: rotate(180deg);
    opacity: 1;
  }

  &::picker(select) {
    margin: 0;
    overflow: clip;
    padding-block: 1rem;
    padding-inline-end: 0.25rem;
  }
}

.selectList {
  background-color: var(--color-bg-surface);
  container-type: scroll-state;
  max-block-size: min(24rem, 80dvh);
  min-inline-size: max-content;
  overflow: hidden auto;
  overscroll-behavior-block: contain;
  padding-inline: 1rem;
  scrollbar-width: thin;
  scrollbar-color: var(--color-border);
  transition: scrollbar-color 0.5s ease;
}

.cardHeaderLeft {
  align-items: center;
  display: flex;
  gap: 0.5rem;
}
