.navList {
  display: flex;
}

.navLink {
  padding: 1rem 1.5rem;
}

.activeLink {
  background-color: var(--colors-grey-100);
  border-radius: var(--radius-sm);
  color: var(--color-primary);
}

.hideOnMobile {
  display: none;
}

.mobileOnly {
  display: block;
}

.header {
  padding-block: clamp(1rem, 0.8239rem + 0.7512vw, 1.5rem);
}

@media (min-width: 48rem) {
  .hideOnMobile {
    display: block;
  }

  .mobileOnly {
    display: none;
  }

  .navLink {
    gap: 0.5rem;
  }
}

@media (min-width: 64rem) {
  .navList {
    gap: 1rem;
  }
}
