.auth {
  display: flex;
  flex-direction: column;
  gap: clamp(3rem, 4.3521rem + -1.5023vw, 4rem);
  height: stretch;
  margin-inline: auto;
  max-width: 476px;
  padding-block: 2rem;
}

@media (min-width: 48rem) {
  .authHeader {
    margin-inline: auto;
  }
}
